@use '../utils/breakpoints' as bp;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--bg-clr);
    min-height: 100vh;
    display: grid;
    place-content: center;

    @include bp.breakpointMin(medium) {
        background-image: url(../images/bg-desktop.svg);
        background-size: cover;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}