:root {
    --bg-clr: hsl(257, 40%, 49%);
    // button
    --btn-bg-clr: hsl(0, 0%, 96%);
    --btn-txt-clr: hsl(257, 40%, 49%);
    --btn-hover-clr: hsl(300, 69%, 71%);
    --btn-hover-txt-clr: hsl(0, 0%, 96%);
    // socials
    --socials-clr: hsl(0, 0%, 96%);
    --socials-border: 1.5px solid hsl(0, 0%, 96%);
    --socials-hover-clr: hsl(300, 100%, 64%);
    --socials-border-hover: 1.5px solid hsl(300, 100%, 64%);
    // links
    --link-clr: hsl(0, 0%, 96%);
}